* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

header {
  padding: 30px 100px;
  background-color: rgb(29, 26, 26);
}

header > ul {
  display: flex;
  gap: 40px;
}

li a {
  color: rgb(255, 255, 255);
}

li a svg {
  font-size: 20px;
}

.right {
  margin-left: auto;
}

.hero {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: rgb(1, 46, 85);
  color: white;
}

.me {
  text-align: center;
}

.me img {
  margin-bottom: 10px;
  border-radius: 50%;
}

.job {
  font-size: 50px;
  font-weight: 700;
}

.projects {
  padding: 30px 100px;
  background-color: rgb(2, 107, 2);
}

.projects h1 {
  margin-bottom: 30px;
  color: white;
}

.inner {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 40px;
}

.project {
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
}

.project img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}

.contact {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(10, 10, 184);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form h2 {
  color: white;
}

form label {
  color: white;
}

form input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  outline: none;
  padding: 0 10px;
}

form select {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  outline: none;
}

form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  outline: none;
}

form button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(29, 26, 26);
}
